<div class="back">
  <nav class="navbar navbar-expand-lg  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ShrAylon</a>




      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#experties">Experties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#contact">Contact us</a>
          </li>
        </ul>


        <form class="d-flex input-group w-auto">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-link active"><a href="" class="nav-link active">instagram</a></li>

          </ul>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid dashboard">
    <div class="row">
      <div class="col-sm-8">
        <h1>Welcome To </h1>
        <h1>ShrAylon Services</h1>

        Shraylon is a dynamic IT services company specializing in the development of mobile
        and web applications using cutting-edge technologies such as React, React Native, and Angular.
        With a passion for innovation and a commitment to excellence, we leverage our expertise to deliver
        high-quality solutions tailored to meet the unique needs of each client. Our team of skilled developers
        and designers is dedicated to crafting seamless user experiences and scalable, performance-driven applications
        that drive business growth and success. Whether it's creating intuitive mobile apps for iOS and Android
        platforms
        or
        building responsive web applications, Shraylon combines technical proficiency with creativity to deliver
        solutions
        that exceed expectations.
        Trust Shraylon to transform your ideas into reality and empower your business in the digital landscape.
      </div>
      <div class="col-sm-4">
        <img src="./../assets/dashboard-removebg-preview.png" alt="" class="img-fluid">
      </div>
    </div>
    <hr>
    <h1 id="experties">Experties</h1>
    <div class="expertie ">
      <div class="row experties ">

        <div class="col-sm-4">
          <ul class="cards">
            <li>
              <div class="card">
                <img src="./../assets/react js.gif" class="card__image" alt="" />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                      <path />
                    </svg>
                    <img class="card__thumb"
                      src="./../assets/png-clipart-react-javascript-angularjs-ionic-github-text-logo-thumbnail.png"
                      alt="" />
                    <div class="card__header-text">
                      <h3 class="card__title">React js</h3>
                      <span class="card__status">best for small scale webapplications </span>
                    </div>
                  </div>
                  <p class="card__description">
                    React.js offers a great balance of performance, scalability, and user experience, making it an
                    excellent choice for small-scale web applications.<a href="">more info</a>
                  </p>
                </div>
              </div>
            </li>


          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="cards">
            <li>
              <div class="card">
                <img src="./../assets/angular.gif" class="card__image" alt="" />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                      <path />
                    </svg>
                    <img class="card__thumb" src="./../assets/angular logo.png" alt="" />
                    <div class="card__header-text">
                      <h3 class="card__title">Angular js</h3>
                      <span class="card__status">best for large scale webapplications </span>
                    </div>
                  </div>
                  <p class="card__description">
                    Angular.js offers a great balance of performance, scalability, and user experience, making it an
                    excellent choice for small-scale web applications.<a href="">more info</a>
                  </p>
                </div>
              </div>
            </li>


          </ul>

        </div>
        <div class="col-sm-4">
          <ul class="cards">
            <li>
              <div class="card">
                <img src="./../assets/react native.gif" class="card__image" alt="" />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                      <path />
                    </svg>
                    <img class="card__thumb"
                      src="./../assets/png-clipart-react-javascript-angularjs-ionic-github-text-logo-thumbnail.png"
                      alt="" />
                    <div class="card__header-text">
                      <h3 class="card__title">React native</h3>
                      <span class="card__status">best for large scale mobile apps </span>
                    </div>
                  </div>
                  <p class="card__description">
                    React native offers a great balance of performance, scalability, and user experience, making it an
                    excellent choice for small-scale web applications.<a href="">more info</a>
                  </p>
                </div>
              </div>
            </li>


          </ul>
        </div>
      </div>
    </div>


    <hr>
    <div class="row team" id="team">
      <h1>Teams</h1>
      <div class="row">
        <div class="col-sm-12">
          <div class="container=fluid">
            <p>Delivering Excellence in React Native, Angular, and React.js Development

              At our firm, we take pride in our exceptional team of developers specializing in React Native, Angular,
              and
              React.js technologies. With an unwavering commitment to quality and innovation, we bring your projects to
              life with efficiency and precision.

              Our React Native developers are skilled in crafting robust, cross-platform mobile applications that offer
              seamless performance and native-like experiences across iOS and Android devices. Leveraging the power of
              React Native, we ensure your app reaches its full potential while minimizing development time and cost.

              In the realm of web development, our Angular experts are at the forefront of building dynamic and
              interactive web applications. Whether it's creating single-page applications or enterprise-grade
              solutions,
              our team harnesses the capabilities of Angular to deliver scalable and maintainable code that meets your
              business objectives.

              Additionally, our proficiency in React.js enables us to develop engaging user interfaces and
              high-performing
              web applications. With React.js, we leverage component-based architecture to build reusable UI elements,
              resulting in faster development cycles and enhanced user experiences.

              What sets us apart is our relentless pursuit of excellence. From initial concept to final deployment, we
              collaborate closely with our clients to understand their unique requirements and deliver tailor-made
              solutions that exceed expectations. With a focus on innovation and efficiency, we empower businesses to
              stay
              ahead in today's rapidly evolving digital landscape.
            </p>
            <h1>
              Choose us for your React Native, Angular, and React.js development needs, and experience the difference
              firsthand.
            </h1>
          </div>



        </div>



      </div>





    </div>
    <hr>

    <div class="row services" id="services">
      <h1>Services</h1>
      <div class="lean">
        <div class="media-scroller snaps-inline">
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Government applications</p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1642190672487-22bde32965f7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Financial applications
            </p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1641841344411-49dbd02896f4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Healthcare applications
            </p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1643223723262-7ce785730cf6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Educational applications
            </p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1640938776314-4d303f8a1380?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Gaming  applications            </p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1641259041823-e09935369105?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Social media applications
            </p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1642543492481-44e81e3914a7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Hotels </p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1641118961077-440391095cdc?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Google services</p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1640767014413-b7d27c58b058?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title"></p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1640948612546-3b9e29c23e98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Restrunts</p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1642484865851-111e68695d71?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">At lectus urnaVestibulum</p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1642237778207-24985a0bf876?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Vestibulum</p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1642177584449-fa0b017dccc7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc5NQ&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Adipiscing tristique risus nec feugiat</p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1643249960396-d39d2a63ce8a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODg0Mw&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Content management systems (CMS)
            </p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1641424222187-1c336d21804c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODg0OA&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">E-commerce applications</p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1640998483268-d1faffa789ad?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODkwNA&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Enterprise applications
            </p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1642034451735-2a8df1eaa2c0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODg4OQ&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Real-time applications</p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1640808238224-5520de93c939?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODg4OQ&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Single-page applications</p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1643039952431-38adfa91f320?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODg0OA&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Large community:</p>
          </div>
          <div class="media-element">
            <img
              src="https://images.unsplash.com/photo-1643148636637-58b3eb95cdad?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODg0OA&ixlib=rb-1.2.1&q=80&w=400"
              alt="">
            <p class="title">Rapid prototyping            </p>
          </div>
        </div>
      </div>

    </div>
    <hr>


    <div class="row contact" id="contact">
      <div class="col-sm-4">
        <h1>contact us </h1>
      </div>
      <div class="col-sm-4">
        <h3>number :9100751090</h3>
        <h3>Mail: <a href="">shraylon&#64;gmail.com.com</a> </h3>
        <h3>address:hyderabad,telangana,500072</h3>
        <h3>whatsapp:9100751090</h3>
      </div>
      <div class="col-sm-4">
        <ul>
          <li>
            <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"><i
                class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button"><i
                class="fab fa-linkedin-in"></i></a>
          </li>
          <li>
            <a class="btn btn-primary" style="background-color: #ff4500;" href="#!" role="button"><i
                class="fab fa-reddit-alien"></i></a>
          </li>
        </ul>






      </div>


      <div class="col-sm-12">

        <!-- 
        <form action="/submit_contact_form.php" method="post">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your first name.." required>

          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>

          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Your email.." required>

          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"
            required></textarea>

          <input type="submit" value="Submit">
        </form> -->

      </div>
    </div>
    
  </div>
</div>