<nav class="navbar navbar-expand-lg  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ShrAylon</a>

    <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#experties">Experties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#contact">Contact us</a>
        </li>
      </ul>

      <!-- Search form -->
      <form class="d-flex input-group w-auto">
        <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
        <button class="btn btn" type="button">
          Query
        </button>
      </form>
    </div>
  </div>
</nav>
<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-sm-8">

      Shraylon is a dynamic IT services company specializing in the development of mobile
      and web applications using cutting-edge technologies such as React, React Native, and Angular.
      With a passion for innovation and a commitment to excellence, we leverage our expertise to deliver
      high-quality solutions tailored to meet the unique needs of each client. Our team of skilled developers
      and designers is dedicated to crafting seamless user experiences and scalable, performance-driven applications
      that drive business growth and success. Whether it's creating intuitive mobile apps for iOS and Android platforms
      or
      building responsive web applications, Shraylon combines technical proficiency with creativity to deliver solutions
      that exceed expectations.
      Trust Shraylon to transform your ideas into reality and empower your business in the digital landscape.
    </div>
    <div class="col-sm-4">
      <img src="./../assets/cpr02.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row experties" id="experties">
    <h1>Experties</h1>
    <div class="col-sm-4">
      <div class="card">
        <h1>REACT</h1>
        <p>
          Single-page applications (SPAs): SPAs are web applications that load a single HTML page and dynamically update
          that page as the user interacts with the application. React is a good choice for building SPAs because it is
          efficient and can render updates quickly.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <h1>REACT Native</h1>
        <p>
          Mobile applications: React Native is a framework that allows developers to build native mobile applications
          using React. React Native is a good choice for building mobile applications because it allows developers to
          use the same codebase for both iOS and Android applications.
        </p>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="card">
        <h1>Angular</h1>
        <p>
          Angular is one of the most popular frameworks for building dynamic web applications. It is used by many large
          companies, including Google, Microsoft, and Forbes.
        </p>
      </div>
    </div>
  </div>


  <div class="row team" id="team">
    <h1>Teams</h1>
    <div class="col-sm-4">
      <div class="card">
        <h3>Medical</h3>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <h3>Transport</h3>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <h3>Chats</h3>
      </div>
    </div>


  </div>

  <div class="row services" id="services">
    <h1>Services</h1>
    <div class="col-sm-2">
      <div class="card">
        <h3>Medical</h3>

      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <h3>Transport</h3>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <h3>Chats</h3>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <h3>Hotels</h3>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <h3>Eduction</h3>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <h3>Blogs</h3>
      </div>
    </div>

  </div>



  <div class="row contact" id="contact">

    <div class="col-sm-12">
      <h1>Contact Us</h1>

      <form action="/submit_contact_form.php" method="post">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your first name.." required>

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>

        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email.." required>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" required></textarea>

        <input type="submit" value="Submit">
      </form>

    </div>
  </div>
</div>